# Titanic

Building a small neural network to test the titanic dataset using tensorflow... Never used Kaggle, nor Tensorflow, so this should be the perfect introduction into both.

In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas
import numpy as np
import tensorflow as tf

---
1. Import Data
---

First we need to import the data.

In [4]:
dev_num = 100
dev_flag = True

if(dev_flag):
    train_data = pandas.read_csv('train.csv', nrows=dev_num)
    test_data = pandas.read_csv('test.csv', nrows=dev_num)
else:
    train_data = pandas.read_csv('train.csv')
    test_data = pandas.read_csv('test.csv')

In [7]:
train_data[:3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [8]:
test_data[:3]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [3]:
if(not isinstance(train_data, np.ndarray)):
    train_data = train_data.as_matrix(columns=train_data.columns[:])
    test_data = test_data.as_matrix(columns=test_data.columns[:]) #later on include additional column